* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
}

a {
	display: block;
	cursor: default;
}

h1 {
	font-size: 1vw;
}

h2 {
	font-size: 1vw;
}

h3 {
	margin-top: 8%; 
	font-size: 1vw;
}

p {
	font-size: 1vw;
}

p#presentation {
	-webkit-transition: opacity .5s ease-in-out;
	-moz-transition: opacity .5s ease-in-out;
	-ms-transition: opacity .5s ease-in-out;
	-o-transition: opacity .5s ease-in-out;
	transition: opacity .5s ease-in-out;
}

footer {
	position: absolute;
	background-color: #000000;
	opacity: .8;
	width: 20%;
	height: 4%;
	margin: auto; 
	top: 145%;
	bottom: 0;
	left: 0;
	right: 0;
	-webkit-transition: all .8s ease-in; 
	border-radius: 5px;
	z-index: 10;
}

footer p {
	font-size: 0.8vw;
}

div {
	position: relative;
	float: left;
	width: 10%;
	height: 20%;
	-webkit-transition: all 1s ease-in;
}

.texto {
	z-index: 2;
	font-family: courier;
	color: white;
	opacity: .6;
	padding: 2%;
	text-align: center;
	user-select: none;
}

div#principal {
	position: absolute;
	background-color: #000000;
	display: block;
	margin: auto;
	height: 20%; 
	min-height: 5%;
	width: 30%;
	opacity: .8;
	top: 0;
	bottom: 60%;
	left: 0;
	right: 0; 
	box-shadow: 1px 1px 1px black;
	border-radius: 5px;
	z-index: 10;
}

div#principal:hover, div#myStuff:hover, footer:hover {
	border-radius: 50px;
	transition: border-radius 1s;
	opacity: .9;
	background-image: url('');
}

div#principal:active, div#myStuff:active {
	background-image: url('');
}

div#myStuff {
	position: absolute;
	background-color: #000000;
	display: block;
	margin: auto;
	z-index: 1;
	height: 43%;
	min-height: 10%;
	width: 43%;
	opacity: .8;
	top: 50%;
	bottom: 0;
	left: 0;
	right: 0; 
	box-shadow: 1px 1px 1px black;
	border-radius: 5px;
	z-index: 10;
}

h1#title {
	margin-top: 5%;
}

table {
	margin-top: 2%;
}

img {
	opacity: .5;
	user-select: none;
	margin: 1% 0% 20% 37%;
	width: 25%;
	height: auto;
}

img:hover {
	opacity: 1;
}

div:hover {
	display: block;
	opacity: 1;
	transition: opacity .8s;
	box-shadow: 0px 0px 5px black;
	z-index: 1;
}

div:active {
	opacity: .3;
	transition: opacity .025s;
	background-position: 25% 25%;
	border-radius: 1000px;
	transition: border-radius 5s;
}

div.backgroundBlock {
	background-color: #FFFFFF;
}

/* RESOLUTIONS */

@media only screen and (max-width: 1440px) {
	div {
		height: 18%;
	}

	div#principal {
		height: 15%
	}

	div#myStuff {
		top: 25%;
		height: 35%;
	}

	footer {
		top: 100%;
	}

	h1 {
		font-size: 1.2vw;
	}

	h2 {
		font-size: 1.2vw;
	}

	h3 {
		font-size: 1.2vw;
	}

	p {
		font-size: 1.2vw;
	}

	footer p {
		font-size: 1vw;
	}
}

@media only screen and (max-width: 1024px) {
	div {
		height: 15%;
	}

	div#principal {
		height: 12%
	}

	div#myStuff {
		top: 25%;
		height: 25%;
	}

	footer {
		top: 100%;
	}

	h1 {
		font-size: 1.5vw;
	}

	h2 {
		font-size: 1.5vw;
	}

	h3 {
		font-size: 1.5vw;
	}

	p {
		font-size: 1.5vw;
	}

	footer p {
		font-size: 1.2vw;
	}
}

@media only screen and (max-width: 425px) {
	div {
		height: 10;
	}

	div#principal {
		margin-top: 25%;
		height: 6%;
	}

	div#myStuff {
		margin: 65% auto 15% auto; 
		top: 5%;
		height: 12%;
	}

	footer {
		top: 80%;
	}

	h1 {
		font-size: 2vw;
	}

	h2 {
		font-size: 2vw;
	}

	h3 {
		font-size: 2vw;
	}

	p {
		font-size: 2vw;
	}

	footer p {
		margin-top: 10%;
		font-size: 1.5vw;
	}
}

/*	FUTURE
 *	-webkit-transform: scale(1);
 *	height: 300px;
 */